<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="global" type="Ap.Service.Template.GlobalSection, Ap.Service.Template, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <global serviceName="Ap.Service.Template" displayName="Ap.Service.Template" description="Ap.Service.Template"/>
</configuration>